ul,
ol {
	max-width: var(--max-line-width);
	padding-left: 1.5em;
}

@media (--tablet) {
	ul,
	ol {
		padding-left: 2em;
	}
}

ul {
	list-style: none;
}

li {
	padding-top: calc(var(--line-height) * .3em);
}
